.container {
  min-height: calc(100vh - 260px);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.icon {
  font-size: 50px;
  color: var(--accent);
}

.title {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: var(--accent);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text);
  padding: 20px 0;
  width: 100%;
  max-width: 1000px;
}

.info p {
  flex: 1;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  width: 177px;
}

@media screen and (max-width: 640px) {
  .info p {
    font-size: 0.59rem;
  }
}
