@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text: #011c23;
  --background: #fafeff;
  --primary: #0dc5f8;
  --secondary: #e974fb;
  --accent: #fa4ca3;
  --softBg: #f0f0f0;
}

body {
  background: var(--background);
  font-family: "Poppins";
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
  overflow-y: auto;
} /* 16px */

h1 {
  font-size: 4.2rem; /* 67.36px */
}

h2 {
  font-size: 2.85rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

p {
  font-size: 0.95rem; /* 12px */
}

.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  h1 {
    font-size: 3.2rem; /* 67.36px */
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.8rem;
  }
}
