.container {
  background: var(--background);
  display: flex;
  font: 1em/1.5 sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: calc(100vh - 245px);
}

.pl1 {
  display: flex;
  justify-content: space-around;
}
.pl1__a,
.pl1__b,
.pl1__c {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transform-origin: 50% 100%;
}

.pl1__a,
.pl1__b,
.pl1__c {
  animation: bounce1 1s linear infinite;
}

.pl1 {
  display: flex;
  margin: 1.5em;
  width: 6em;
  height: 6em;
}
.pl1__a {
  background: var(--accent);
}
.pl1__b {
  background: var(--primary);
  animation-delay: 0.1s;
}
.pl1__c {
  background: var(--secondary);
  animation-delay: 0.2s;
}

/* Animations */
@keyframes bounce1 {
  from,
  to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    animation-timing-function: linear;
  }
  55% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-out;
  }
}
